# Web scrapping assignment by Beautifulsoup

## Name- Ranjan Pratap Singh                                                      DS2307

In [1]:
!pip install bs4
!pip install requests

Defaulting to user installation because normal site-packages is not writeable
Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py): started
  Building wheel for bs4 (setup.py): finished with status 'done'
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1257 sha256=3de6f2a79fff83f8a4ac4acf6b396d4d170f0b323cf6aade314c525ee986dec3
  Stored in directory: c:\users\ranjan\appdata\local\pip\cache\wheels\73\2b\cb\099980278a0c9a3e57ff1a89875ec07bfa0b6fcbebb9a8cad3
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2022.9.14)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.3)

In [30]:
from  bs4 import BeautifulSoup
import requests


 ### 1)	Write a python program to display all the header tags from wikipedia.org and make data frame.

In [31]:
url = requests.get('https://en.wikipedia.org/wiki/Main_Page')

In [32]:
soup = BeautifulSoup(url.content)

In [34]:
header =[]
for i in soup.find_all('span',class_="mw-headline"):
    header.append(i.text)
print(*header,sep='\n\n')

Welcome to Wikipedia

From today's featured article

Did you know ...

In the news

On this day

Today's featured picture

Other areas of Wikipedia

Wikipedia's sister projects

Wikipedia languages

In [35]:
import pandas as pd

nf = pd.DataFrame({'Header':header})
nf

                          Header
0           Welcome to Wikipedia
1  From today's featured article
2               Did you know ...
3                    In the news
4                    On this day
5       Today's featured picture
6       Other areas of Wikipedia
7    Wikipedia's sister projects
8            Wikipedia languages

 
### 2)	Write s python program to display list of respected former presidents of India(i.e. Name , Term ofoffice) from https://presidentofindia.nic.in/former-presidents.htm and make data frame.

### 3)	Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame- 
 #### a)	Top 10 ODI teams in men’s cricket along with the records for matches, points and rating. 
#### b)	Top 10 ODI Batsmen along with the records of their team andrating. 
#### c)	Top 10 ODI bowlers along with the records of their team andrating.

### ANS A---

In [58]:
page = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

In [59]:
soup = BeautifulSoup(page.content)

In [60]:
team = []
for i in soup.find_all('span',class_="u-hide-phablet"):
    team.append(i.text)
team[:10]

['Australia',
 'Pakistan',
 'India',
 'New Zealand',
 'England',
 'South Africa',
 'Bangladesh',
 'Afghanistan',
 'Sri Lanka',
 'West Indies']

In [61]:
data = []
for i in soup.find_all('td',class_="table-body__cell u-center-text"):
    data.append(i.text)

In [62]:
text=soup.find('td',class_="rankings-block__banner--matches")
text.text
text_1 =soup.find('td',class_="rankings-block__banner--points")
data.insert(0,text.text)
data.insert(1,text_1.text)
data[:20]

['23',
 '2,714',
 '20',
 '2,316',
 '36',
 '4,081',
 '27',
 '2,806',
 '24',
 '2,426',
 '19',
 '1,910',
 '28',
 '2,661',
 '16',
 '1,404',
 '32',
 '2,794',
 '38',
 '2,582']

In [63]:
matches = data[0::2]
matches[:10]

['23', '20', '36', '27', '24', '19', '28', '16', '32', '38']

In [64]:
points = data[1::2]
points[:10]

['2,714',
 '2,316',
 '4,081',
 '2,806',
 '2,426',
 '1,910',
 '2,661',
 '1,404',
 '2,794',
 '2,582']

In [65]:
ratings= []
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    ratings.append(i.text)
ratings[:10]
new_text =soup.find('td', class_="rankings-block__banner--rating u-text-right")
new_text.text.strip()
ratings.insert(0,new_text.text.strip())

In [75]:
import pandas as pd

nf = pd.DataFrame({'Team':team[:10],'Matches':matches[:10],'Points':points[:10],'Ratings':ratings[:10]})
print("*" * 90 + ("\nTop 10 ODI teams in men’s cricket along with the records for matches, points and rating.\n") + "*" * 90)
nf

******************************************************************************************
Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
******************************************************************************************

           Team Matches Points Ratings
0     Australia      23  2,714     118
1      Pakistan      20  2,316     116
2         India      36  4,081     113
3   New Zealand      27  2,806     104
4       England      24  2,426     101
5  South Africa      19  1,910     101
6    Bangladesh      28  2,661      95
7   Afghanistan      16  1,404      88
8     Sri Lanka      32  2,794      87
9   West Indies      38  2,582      68

### ANS B ---  b) Top 10 ODI Batsmen along with the records of their team andrating

In [77]:
page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')

In [78]:
soup = BeautifulSoup(page.content)

In [79]:
names = []
for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    names.append(i.text.strip())
text=soup.find('div',class_="rankings-block__banner--name-large")
names.insert(0,text.text)
names[0:10]

['Babar Azam',
 'Rassie van der Dussen',
 'Fakhar Zaman',
 'Imam-ul-Haq',
 'Shubman Gill',
 'Harry Tector',
 'David Warner',
 'Quinton de Kock',
 'Virat Kohli',
 'Steve Smith']

In [80]:
team =[]
for i in soup.find_all('span', class_="table-body__logo-text"):
    team.append(i.text)
text_1=soup.find('div',class_="rankings-block__banner--nationality")
team.insert(0,text_1.text.strip().split()[0])
team[:10]

['PAK', 'SA', 'PAK', 'PAK', 'IND', 'IRE', 'AUS', 'SA', 'IND', 'AUS']

In [81]:
rating =[]
for i in soup.find_all('td', class_="table-body__cell rating"):
    rating.append(i.text)
txt_1=soup.find('div', class_="rankings-block__banner--rating")
rating.insert(0,txt_1.text)
rating[:10]

['886', '777', '755', '745', '743', '726', '726', '718', '705', '702']

In [82]:
import pandas as pd

nf = pd.DataFrame({'Name':names[:10], 'Team':team[:10],'Ratings':rating[:10]})
print("*" * 90 + "\n Top 10 ODI Batsmen along with the records of their team andrating\n" + "*" * 90)
nf

******************************************************************************************
 Top 10 ODI Batsmen along with the records of their team andrating
******************************************************************************************

                    Name Team Ratings
0             Babar Azam  PAK     886
1  Rassie van der Dussen   SA     777
2           Fakhar Zaman  PAK     755
3            Imam-ul-Haq  PAK     745
4           Shubman Gill  IND     743
5           Harry Tector  IRE     726
6           David Warner  AUS     726
7        Quinton de Kock   SA     718
8            Virat Kohli  IND     705
9            Steve Smith  AUS     702

### ANS C --- c)	Top 10 ODI bowlers along with the records of their team andrating.

In [49]:
page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')

In [50]:
soup = BeautifulSoup(page.content)

In [51]:
names = []
for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
     names.append(i.text.strip())
txt=soup.find('div',class_="rankings-block__banner--name-large")
names.insert(0,txt.text)

names[0:10]

['Josh Hazlewood',
 'Mitchell Starc',
 'Rashid Khan',
 'Mohammed Siraj',
 'Matt Henry',
 'Mujeeb Ur Rahman',
 'Trent Boult',
 'Adam Zampa',
 'Shaheen Afridi',
 'Kuldeep Yadav']

In [52]:
team =[]
for i in soup.find_all('span', class_="table-body__logo-text"):
    team.append(i.text)
text_1=soup.find('div',class_="rankings-block__banner--nationality")
team.insert(0,text_1.text.strip().split()[0])
team[:10]

['AUS', 'AUS', 'AFG', 'IND', 'NZ', 'AFG', 'NZ', 'AUS', 'PAK', 'IND']

In [53]:
rating =[]
for i in soup.find_all('td', class_="table-body__cell rating"):
    rating.append(i.text)
txt_1=soup.find('div', class_="rankings-block__banner--rating")
rating.insert(0,txt_1.text)
rating[:10]

['705', '686', '682', '670', '667', '661', '660', '652', '630', '622']

In [57]:
import pandas as pd

nf = pd.DataFrame({'Name':names[:10], 'Team':team[:10],'Ratings':rating[:10]})
print("*" * 90 + "\nTop 10 ODI bowlers along with the records of their team and rating.\n" + "*" * 90)
nf

******************************************************************************************
Top 10 ODI bowlers along with the records of their team and rating.
******************************************************************************************

               Name Team Ratings
0    Josh Hazlewood  AUS     705
1    Mitchell Starc  AUS     686
2       Rashid Khan  AFG     682
3    Mohammed Siraj  IND     670
4        Matt Henry   NZ     667
5  Mujeeb Ur Rahman  AFG     661
6       Trent Boult   NZ     660
7        Adam Zampa  AUS     652
8    Shaheen Afridi  PAK     630
9     Kuldeep Yadav  IND     622


### 4)	Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame- 
 #### a)	Top 10 ODI teams in women’s cricket along with the records for matches, points and rating. 
#### b)	Top 10 women’s ODI Batting players along with the records of their team and rating. 
#### c)	Top 10 women’s ODI all-rounder along with the records of their team and rating.

### a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating

In [83]:
page = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')

In [84]:
soup = BeautifulSoup(page.content)

In [85]:
team = []
for i in soup.find_all('span',class_="u-hide-phablet"):
    team.append(i.text)
team[:10]

['Australia',
 'England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Bangladesh',
 'Sri Lanka',
 'Thailand',
 'Pakistan']

In [86]:
data = []
for i in soup.find_all('td',class_="table-body__cell u-center-text"):
    data.append(i.text)

In [87]:
text=soup.find('td',class_="rankings-block__banner--matches")
text_1 =soup.find('td',class_="rankings-block__banner--points")

In [88]:
data.insert(0,text.text)
data.insert(1,text_1.text)
data[:20]

['26',
 '4,290',
 '31',
 '3,875',
 '26',
 '3,098',
 '30',
 '3,039',
 '28',
 '2,688',
 '29',
 '2,743',
 '17',
 '1,284',
 '12',
 '820',
 '13',
 '883',
 '27',
 '1,678']

In [89]:
matches = data[0::2]
matches[:10]

['26', '31', '26', '30', '28', '29', '17', '12', '13', '27']

In [90]:
points = data[1::2]
points[:10]

['4,290',
 '3,875',
 '3,098',
 '3,039',
 '2,688',
 '2,743',
 '1,284',
 '820',
 '883',
 '1,678']

In [91]:
ratings= []
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    ratings.append(i.text)
ratings[:10]
new_text =soup.find('td', class_="rankings-block__banner--rating u-text-right")
new_text.text.strip()
ratings.insert(0,new_text.text.strip())
ratings[:10]

['165', '125', '119', '101', '96', '95', '76', '68', '68', '62']

In [92]:
import pandas as pd

nf = pd.DataFrame({'Team':team[:10],'Matches':matches[:10],'Points':points[:10],'Ratings':ratings[:10]})
print("*" * 90 + "\nTop 10 ODI teams in women’s cricket along with the records for matches, points and rating\n" + "*" * 90)
nf

******************************************************************************************
Top 10 ODI teams in women’s cricket along with the records for matches, points and rating
******************************************************************************************

           Team Matches Points Ratings
0     Australia      26  4,290     165
1       England      31  3,875     125
2  South Africa      26  3,098     119
3         India      30  3,039     101
4   New Zealand      28  2,688      96
5   West Indies      29  2,743      95
6    Bangladesh      17  1,284      76
7     Sri Lanka      12    820      68
8      Thailand      13    883      68
9      Pakistan      27  1,678      62

###   b) Top 10 women’s ODI Batting players along with the records of their team and rating

In [93]:
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')

In [94]:
soup = BeautifulSoup(page.content)

In [95]:
names = []
for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    names.append(i.text.strip())
text=soup.find('div',class_="rankings-block__banner--name-large")
names.insert(0,text.text)
names[0:10]

['Natalie Sciver-Brunt',
 'Chamari Athapaththu',
 'Beth Mooney',
 'Laura Wolvaardt',
 'Smriti Mandhana',
 'Alyssa Healy',
 'Harmanpreet Kaur',
 'Ellyse Perry',
 'Meg Lanning',
 'Stafanie Taylor']

In [96]:
team =[]
for i in soup.find_all('span', class_="table-body__logo-text"):
    team.append(i.text)
text_1=soup.find('div',class_="rankings-block__banner--nationality")
team.insert(0,text_1.text.strip().split()[0])
team[:10]

['ENG', 'SL', 'AUS', 'SA', 'IND', 'AUS', 'IND', 'AUS', 'AUS', 'WI']

In [97]:
rating =[]
for i in soup.find_all('td', class_="table-body__cell rating"):
    rating.append(i.text)
txt_1=soup.find('div', class_="rankings-block__banner--rating")
rating.insert(0,txt_1.text)
rating[:10]

['803', '758', '751', '732', '708', '702', '694', '686', '682', '618']

In [98]:
import pandas as pd
nf = pd.DataFrame({'Name':names[:10], 'Team':team[:10],'Ratings':rating[:10]})
print("*" * 90 + "\nTop 10 women’s ODI Batting players along with the records of their team and rating\n" + "*" * 90)
nf

******************************************************************************************
Top 10 women’s ODI Batting players along with the records of their team and rating
******************************************************************************************

                   Name Team Ratings
0  Natalie Sciver-Brunt  ENG     803
1   Chamari Athapaththu   SL     758
2           Beth Mooney  AUS     751
3       Laura Wolvaardt   SA     732
4       Smriti Mandhana  IND     708
5          Alyssa Healy  AUS     702
6      Harmanpreet Kaur  IND     694
7          Ellyse Perry  AUS     686
8           Meg Lanning  AUS     682
9       Stafanie Taylor   WI     618

### c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [99]:
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')

In [100]:
soup = BeautifulSoup(page.content)

In [101]:
names = []
for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    names.append(i.text.strip())
text=soup.find('div',class_="rankings-block__banner--name-large")
names.insert(0,text.text)
names[0:10]

['Natalie Sciver-Brunt',
 'Ashleigh Gardner',
 'Hayley Matthews',
 'Marizanne Kapp',
 'Ellyse Perry',
 'Amelia Kerr',
 'Deepti Sharma',
 'Jess Jonassen',
 'Sophie Devine',
 'Nida Dar']

In [102]:
team =[]
for i in soup.find_all('span', class_="table-body__logo-text"):
    team.append(i.text)
text_1=soup.find('div',class_="rankings-block__banner--nationality")
team.insert(0,text_1.text.strip().split()[0])
team[:10]

['ENG', 'AUS', 'WI', 'SA', 'AUS', 'NZ', 'IND', 'AUS', 'NZ', 'PAK']

In [103]:
rating =[]
for i in soup.find_all('td', class_="table-body__cell rating"):
    rating.append(i.text)
txt_1=soup.find('div', class_="rankings-block__banner--rating")
rating.insert(0,txt_1.text)
rating[:10]

['421', '389', '382', '349', '329', '328', '312', '241', '233', '232']

In [104]:
import pandas as pd
nf = pd.DataFrame({'Name':names[:10], 'Team':team[:10],'Ratings':rating[:10]})
print("*" * 90 + "\n Top 10 women’s ODI all-rounder along with the records of their team and rating.\n" + "*" * 90)

nf

******************************************************************************************
 Top 10 women’s ODI all-rounder along with the records of their team and rating.
******************************************************************************************

                   Name Team Ratings
0  Natalie Sciver-Brunt  ENG     421
1      Ashleigh Gardner  AUS     389
2       Hayley Matthews   WI     382
3        Marizanne Kapp   SA     349
4          Ellyse Perry  AUS     329
5           Amelia Kerr   NZ     328
6         Deepti Sharma  IND     312
7         Jess Jonassen  AUS     241
8         Sophie Devine   NZ     233
9              Nida Dar  PAK     232

### 5  Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and make data frame- i) Headline ii) Time 
### iii) News Link

In [4]:
page = requests.get('https://www.cnbc.com/world/?region=world')

In [6]:
soup = BeautifulSoup(page.content)

In [7]:
headline= []
for i in soup.find_all('a',class_="LatestNews-headline"):
    headline.append(i.text)

In [8]:
time= []
for i in soup.find_all('time',class_="LatestNews-timestamp"):
    time.append(i.text)

In [9]:
News_Link= []
for i in soup.find_all('a',class_="LatestNews-headline"):
    News_Link.append(i.get('href'))

In [10]:
import pandas as pd

nf = pd.DataFrame({'headline':headline,'Time':time,'News Link':News_Link})
nf

,headline,Time,News Link
0,"Palo Alto shares rise on earnings beat, after ...",8 Hours Ago,https://www.cnbc.com/2023/08/18/palo-alto-netw...
1,Wall Street awaits hotly anticipated Nvidia ea...,8 Hours Ago,https://www.cnbc.com/2023/08/18/wall-street-pr...
2,WeWork plunges another 11% after announcing re...,9 Hours Ago,https://www.cnbc.com/2023/08/18/wework-plunges...
3,The iPhone 15 could get one of the biggest upg...,9 Hours Ago,https://www.cnbc.com/2023/08/18/iphone-15-usb-...
4,Coral bleaching event in Florida is 'just the ...,10 Hours Ago,https://www.cnbc.com/2023/08/18/noaa-florida-c...
5,Bitcoin is giving a bearish signal. Here’s wha...,10 Hours Ago,https://www.cnbc.com/2023/08/18/bitcoin-is-giv...
6,Earnings show shoppers will spend money for va...,10 Hours Ago,https://www.cnbc.com/2023/08/18/retail-earning...
7,"Nvidia, key Powell speech to take center stage...",10 Hours Ago,https://www.cnbc.com/2023/08/18/nvidia-powell-...
8,My HomePod is now a very expensive doorstop,10 Hours Ago,https://www.cnbc.com/2023/08/18/apple-wont-rep...
9,3 trends are dividing restaurant companies int...,10 Hours Ago,https://www.cnbc.com/2023/08/18/mcdonalds-chip...
10,How hurricanes may affect the 2024 Social Secu...,10 Hours Ago,https://www.cnbc.com/2023/08/18/social-securit...
11,Rosenblatt names its top picks to play the ‘ag...,10 Hours Ago,https://www.cnbc.com/2023/08/18/rosenblatt-nam...
12,It may be tough for Apple to outperform from h...,11 Hours Ago,https://www.cnbc.com/2023/08/18/it-may-be-toug...
13,'Blue Beetle' tries to take down 'Barbie' in a...,11 Hours Ago,https://www.cnbc.com/2023/08/18/barbie-vs-blue...
14,Here's where to find opportunities in dividend...,11 Hours Ago,https://www.cnbc.com/2023/08/18/heres-where-to...
15,The 'world's cheapest home' is on sale for $1,11 Hours Ago,https://www.cnbc.com/2023/08/18/the-worlds-che...
16,We are maintaining our position in Estee Laude...,11 Hours Ago,https://www.cnbc.com/2023/08/18/we-are-maintai...
17,Top GOP China hawk says White House investment...,12 Hours Ago,https://www.cnbc.com/2023/08/18/top-gop-voice-...
18,Here are some of the companies saying weight l...,12 Hours Ago,https://www.cnbc.com/2023/08/18/here-are-some-...
19,"Elon Musk says users on X, formerly Twitter, w...",12 Hours Ago,https://www.cnbc.com/2023/08/18/elon-musk-says...
20,4 places to keep your cash as the Federal Rese...,12 Hours Ago,https://www.cnbc.com/2023/08/18/4-best-places-...
21,Bank of America calls this transportation stoc...,13 Hours Ago,https://www.cnbc.com/2023/08/18/bank-of-americ...
22,"Stocks making the biggest moves midday: Xpeng,...",13 Hours Ago,https://www.cnbc.com/2023/08/18/stocks-making-...
23,Judge denies Trump request to delay E. Jean Ca...,13 Hours Ago,https://www.cnbc.com/2023/08/18/judge-denies-t...
24,"We're exiting this energy stock, while adding ...",13 Hours Ago,https://www.cnbc.com/2023/08/18/were-exiting-t...
25,Harvard-trained career coach: Successful peopl...,13 Hours Ago,https://www.cnbc.com/2023/08/18/harvard-traine...
26,Investors are jumping back into short-term bo...,13 Hours Ago,https://www.cnbc.com/2023/08/18/-investors-are...
27,Disney seeks damages in DeSantis board's lawsu...,13 Hours Ago,https://www.cnbc.com/2023/08/18/disney-seeks-d...
28,Citi says this high-flying Brazilian stock can...,14 Hours Ago,https://www.cnbc.com/2023/08/18/citi-says-this...
29,What Wall Street needs to know about UAW negot...,14 Hours Ago,https://www.cnbc.com/2023/08/18/what-uaw-negot...

### 6)	Write a python program to scrape the details of most downloaded articles from AI in last 90 days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles Scrape below mentioned details and make data frame- i) 	Paper Title ii) 	Authors iii) 	Published Date iv) 	Paper URL

In [28]:
page = requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')

In [30]:
soup = BeautifulSoup(page.content)

In [31]:
titles = []
for i in soup.find_all('h2',class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    titles.append(i.text)

In [32]:
authors = []
for i in soup.find_all('span',class_="sc-1w3fpd7-0 dnCnAO"):
    authors.append(i.text)

In [33]:
p_date =[]
for i in soup.find_all('span',class_="sc-1thf9ly-2 dvggWt"):
    p_date.append(i.text)

In [47]:
p_urls = []
for a_tag in soup.find_all('a', class_="sc-5smygv-0 fIXTHm"):
    href = a_tag.get('href')
    if href:
        p_urls.append(href)

In [45]:
import pandas as pd

pf = pd.DataFrame({'Titles':titles,'Authors':authors,'Published date':p_date,'URL':p_urls})
pf

,Titles,Authors,Published date,URL
0,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021,https://www.sciencedirect.com/science/article/...
1,Explanation in artificial intelligence: Insigh...,Tim Miller,February 2019,https://www.sciencedirect.com/science/article/...
2,Creativity and artificial intelligence,Margaret A. Boden,August 1998,https://www.sciencedirect.com/science/article/...
3,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015,https://www.sciencedirect.com/science/article/...
4,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach",January 2022,https://www.sciencedirect.com/science/article/...
5,Law and logic: A review from an argumentation ...,"Henry Prakken, Giovanni Sartor",October 2015,https://www.sciencedirect.com/science/article/...
6,Between MDPs and semi-MDPs: A framework for te...,"Richard S. Sutton, Doina Precup, Satinder Singh",August 1999,https://www.sciencedirect.com/science/article/...
7,Explaining individual predictions when feature...,"Kjersti Aas, Martin Jullum, Anders Løland",September 2021,https://www.sciencedirect.com/science/article/...
8,Multiple object tracking: A literature review,"Wenhan Luo, Junliang Xing and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
9,A survey of inverse reinforcement learning: Ch...,"Saurabh Arora, Prashant Doshi",August 2021,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021,https://www.sciencedirect.com/science/article/...
11,Explainable AI tools for legal reasoning about...,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023,https://www.sciencedirect.com/science/article/...
12,Hard choices in artificial intelligence,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz",November 2021,https://www.sciencedirect.com/science/article/...
13,Assessing the communication gap between AI mod...,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023,https://www.sciencedirect.com/science/article/...
14,Explaining black-box classifiers using post-ho...,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021,https://www.sciencedirect.com/science/article/...
15,The Hanabi challenge: A new frontier for AI re...,"Nolan Bard, Jakob N. Foerster and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
16,Wrappers for feature subset selection,"Ron Kohavi, George H. John",December 1997,https://www.sciencedirect.com/science/article/...
17,Artificial cognition for social human–robot in...,"Séverin Lemaignan, Mathieu Warnier and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
18,A review of possible effects of cognitive bias...,"Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz",June 2021,https://www.sciencedirect.com/science/article/...
19,The multifaceted impact of Ada Lovelace in the...,Luigia Carlucci Aiello,June 2016,https://www.sciencedirect.com/science/article/...
20,Robot ethics: Mapping the issues for a mechani...,"Patrick Lin, Keith Abney, George Bekey",April 2011,https://www.sciencedirect.com/science/article/...
21,Reward (Mis)design for autonomous driving,"W. Bradley Knox, Alessandro Allievi and 3 more",March 2023,https://www.sciencedirect.com/science/article/...
22,Planning and acting in partially observable st...,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998,https://www.sciencedirect.com/science/article/...
23,What do we want from Explainable Artificial In...,"Markus Langer, Daniel Oster and 6 more",July 2021,https://www.sciencedirect.com/science/article/...

### 7)	Write a python program to scrape mentioned details from dineout.co.in and make data frame- 
#### i)	Restaurant name 
#### ii)	Cuisine 
#### iii) Location iv) 	Ratings 
#### v) 	Image URL

In [74]:
page = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')

In [75]:
soup = BeautifulSoup(page.content)

In [83]:
titles = []
for i in soup.find_all('a',class_="restnt-name ellipsis"):
    titles.append(i.text)

In [84]:
cuisine = [] 
for i in soup.find_all('span',class_="double-line-ellipsis"):
    cuisine.append(i.text.split('|')[1])

In [85]:
location = [] 
for i in soup.find_all('div',class_="restnt-loc ellipsis"): 
    location.append(i.text)

In [86]:
rating = [] 
for i in soup.find_all('div',class_="restnt-rating rating-4"): 
    rating.append(i.text)

In [87]:
images = []
for i in soup.find_all("img",class_="no-img"):
    images.append(i.get('data-src'))

In [88]:
import pandas as pd

df = pd.DataFrame({'Titles':titles,'Cuisine':cuisine,'Location':location,'Rating':rating,'Images_url':images})
df

,Titles,Cuisine,Location,Rating,Images_url
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
1,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
2,Castle's Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",3.9,https://im1.dineout.co.in/images/uploads/resta...
5,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
6,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
7,The Barbeque Times,"North Indian, Continental, Chinese, South Indian","M2K Corporate Park,Sector 51, Gurgaon",4.1,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...