# Web scrapping assignment -[4]

## Name- Ranjan Pratap Singh                                                      DS2307

In [1]:
import selenium 
import pandas as pd
import numpy as np
import time
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementNotInteractableException
import requests

### 1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:
##### A) Rank
##### B) Name
##### C) Artist
##### D) Upload date
##### E) Views

In [4]:
driver = webdriver.Chrome()

In [5]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
driver.maximize_window()

In [6]:
rank = []
name = []
artist = []
upload  = []
views = []

In [7]:
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]'):
        rank.append(i.text)
except NoSuchElementException: 
    rank.append('No details available')
except StaleElementReferenceException: 
    rank.append('No details available')
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]'):
        name.append(i.text)
except NoSuchElementException: 
    name.append('No details available')
except StaleElementReferenceException: 
    name.append('No details available')
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[3]'):
        artist.append(i.text)
except NoSuchElementException: 
    artist.append('No details available')
except StaleElementReferenceException: 
    artist.append('No details available')
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]'):
        upload.append(i.text)
except NoSuchElementException: 
    upload.append('No details available')
except StaleElementReferenceException: 
    upload.append('No details available')
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[4]'):
        views.append(i.text)
except NoSuchElementException: 
    views.append('No details available')
except StaleElementReferenceException: 
    views.append('No details available')

In [8]:
most_viewed= pd.DataFrame({'RANK':rank,'NAME':name, 'ARTIST':artist, 'UPLOAD DATE':upload, 'VIEWS(in billions)':views})
most_viewed

,RANK,NAME,ARTIST,UPLOAD DATE,VIEWS(in billions)
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",13.36
1,2.,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.26
2,3.,"""Johny Johny Yes Papa""[16]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.80
3,4.,"""Bath Song""[17]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.41
4,5.,"""Shape of You""[18]",Ed Sheeran,"January 30, 2017",6.08
5,6.,"""See You Again""[21]",Wiz Khalifa,"April 6, 2015",6.03
6,7.,"""Wheels on the Bus""[26]",Cocomelon - Nursery Rhymes,"May 24, 2018",5.56
7,8.,"""Phonics Song with Two Words""[27]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.48
8,9.,"""Uptown Funk""[28]",Mark Ronson,"November 19, 2014",5.03
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[29]",Miroshka TV,"February 27, 2018",4.97
10,11.,"""Gangnam Style""[30]",officialpsy,"July 15, 2012",4.90
11,12.,"""Masha and the Bear – Recipe for Disaster""[35]",Get Movies,"January 31, 2012",4.56
12,13.,"""Dame Tu Cosita""[36]",Ultra Records,"April 5, 2018",4.44
13,14.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",4.06
14,15.,"""Sugar""[38]",Maroon 5,"January 14, 2015",3.93
15,16.,"""Counting Stars""[39]",OneRepublic,"May 31, 2013",3.87
16,17.,"""Roar""[40]",Katy Perry,"September 5, 2013",3.87
17,18.,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,"June 25, 2018",3.78
18,19.,"""Waka Waka (This Time for Africa)""[42]",Shakira,"June 4, 2010",3.73
19,20.,"""Sorry""[43]",Justin Bieber,"October 22, 2015",3.71
20,21.,"""Lakdi Ki Kathi""[44]",Jingle Toons,"June 14, 2018",3.69
21,22.,"""Thinking Out Loud""[45]",Ed Sheeran,"October 7, 2014",3.66
22,23.,"""Dark Horse""[46]",Katy Perry,"February 20, 2014",3.59
23,24.,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.55
24,25.,"""Perfect""[48]",Ed Sheeran,"November 9, 2017",3.54
25,26.,"""Faded""[49]",Alan Walker,"December 3, 2015",3.51
26,27.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.51
27,28.,"""Girls Like You""[51]",Maroon 5,"May 31, 2018",3.48
28,29.,"""Lean On""[52]",Major Lazer Official,"March 22, 2015",3.46
29,30.,"""Bailando""[53]",Enrique Iglesias,"April 11, 2014",3.45

In [9]:
driver.quit()

### 2. Scrape the details team India’s international fixtures from bcci.tv.
#### Url = https://www.bcci.tv/.
#### You need to find following details:
##### A) Match title (I.e. 1 ODI)
##### B) Series
##### C) Place
##### D) Date
##### E) Time
##### Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [27]:
driver = webdriver.Chrome()

In [28]:
driver.get('https://www.bcci.tv/')
driver.maximize_window()

In [29]:
 search_1 =driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
search_1.click()

In [30]:
match = []
series =[]
place =[]
date=[]
time=[]

In [31]:
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]'):
        match.append(i.text)
except NoSuchElementException: 
     match.append('No details available')

try:
    for i in driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]'):
        series.append(i.text)
except NoSuchElementException: 
    series.append('No details available')

try:
    for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"] | //span[@class="ng-binding"]'):
        place.append(i.text)
except NoSuchElementException: 
    place.append('No details available')
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]'):
        date.append(i.text)
except NoSuchElementException: 
    date.append('No details available')
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]'):
        time.append(i.text)
except NoSuchElementException: 
    time.append('No details available')

In [32]:
place_A = [f"{place[i]}, {place[i + 1]}" 
for i in range(0, len(place), 2)]
placeA = place_A[:8]

In [33]:
international_fixtures= pd.DataFrame({'Match':match,'Series':series,'Place':placeA,'Date':date,'Time':time})
international_fixtures

,Match,Series,Place,Date,Time
0,1st T20I -,19TH ASIAN GAMES 2023,"Pingfeng Cricket Field,, Hangzhou",21 SEP 2023,6:30 AM IST
1,1st ODI -,AUSTRALIA TOUR OF INDIA 2023-24,"Punjab Cricket Association IS Bindra Stadium,,...",22 SEP 2023,1:30 PM IST
2,2nd ODI -,AUSTRALIA TOUR OF INDIA 2023-24,"Holkar Cricket Stadium,, Indore",24 SEP 2023,1:30 PM IST
3,3rd ODI -,AUSTRALIA TOUR OF INDIA 2023-24,"Saurashtra Cricket Association Stadium,, Rajkot",27 SEP 2023,1:30 PM IST
4,1st ODI -,ICC MENS WORLD CUP 2023 WARM-UP MATCHES,"Barsapara Cricket Stadium,, Guwahati",30 SEP 2023,2:00 PM IST
5,1st T20I -,19TH ASIAN GAMES 2023,"Pingfeng Cricket Field,, Hangzhou",3 OCT 2023,6:30 AM IST
6,2nd ODI -,ICC MENS WORLD CUP 2023 WARM-UP MATCHES,"Greenfield International Stadium,, Thiruvanant...",3 OCT 2023,2:00 PM IST
7,1st ODI -,ICC MENS WORLD CUP 2023,"MA Chidambaram Stadium,, Chennai",8 OCT 2023,2:00 PM IST

In [34]:
driver.quit()

### 3. Scrape the details of State-wise GDP of India from statisticstime.com.
#### Url = http://statisticstimes.com/
#### You have to find following details: A) Rank    B) State    C) GSDP(18-19)- at current prices  D) GSDP(19-20)- at current prices E) Share(18-19) F) GDP ($ billion) 
##### Note: - From statisticstimes home page you have to reach to economy page through code.

In [37]:
driver = webdriver.Chrome()

In [38]:
driver.get('http://statisticstimes.com/')
driver.maximize_window()

In [42]:
 search_1 =driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
search_1.click()

In [43]:
 search_2 =driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
search_2.click()

In [45]:
 search_3 =driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
search_3.click()

In [46]:
rank=[]
state=[] 
GSDP18_19=[] 
GSDP19_20=[] 
Share18_19=[]
GDP =[]

In [47]:
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody[1]/tr/td[1]'):
        rank.append(i.text)
except NoSuchElementException: 
    rank.append('No details available')
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody[1]/tr/td[2]'):
        state.append(i.text)
except NoSuchElementException: 
    state.append('No details available')
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody[1]/tr/td[4]'):
        GSDP18_19.append(i.text)
except NoSuchElementException: 
    GSDP18_19.append('No details available')
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody[1]/tr/td[3]'):
        GSDP19_20.append(i.text)
except NoSuchElementException: 
    GSDP19_20.append('No details available')
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody[1]/tr/td[5]'):
        Share18_19.append(i.text)
except NoSuchElementException: 
    Share18_19.append('No details available')
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody[1]/tr/td[6]'):
        GDP.append(i.text)
except NoSuchElementException: 
    GDP.append('No details available')

In [48]:
rank = rank[:33]
state=state[:33]
GSDP18_19= GSDP18_19[:33] 
GSDP19_20=GSDP19_20[:33]
Share18_19= Share18_19[:33]
GDP =GDP[:33]

In [49]:
STATEWISE_GDP = pd.DataFrame({'Rank':rank,'State':state,'GSDP(18-19)- at current prices':GSDP18_19,'GSDP(19-20)- at current prices':GSDP19_20,
                              'Share(18-19)':Share18_19,'GDP($billions)': GDP})
STATEWISE_GDP

,Rank,State,GSDP(18-19)- at current prices,GSDP(19-20)- at current prices,Share(18-19),GDP($billions)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [50]:
driver.quit()

### 4. Scrape the details of trending repositories on Github.com.
#### Url = https://github.com/
##### You have to find the following details:
#### A) Repository title B) Repository description C) Contributors count D) Language used

In [165]:
driver = webdriver.Chrome()

In [166]:
driver.get('https://github.com/')
driver.maximize_window()

In [168]:
 search_1 =driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[1]/div[2]/button/span/span')
search_1.click()

In [169]:
 search_2 =driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
search_2.click()

In [170]:
 search_3 =driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
search_3.click()

In [171]:
url1 =[]
for i in driver.find_elements(By.XPATH,'//a[@class="Link"]'):
    url1.append(i.get_attribute("href"))

In [173]:
language=[] 
try:
    for i in driver.find_elements(By.XPATH,'//span[@itemprop="programmingLanguage"]'):
        language.append(i.text)
except NoSuchElementException: 
        language.append('No details available')

In [178]:
contributors = []
title = []
description=[]

for url in url1:
    driver.get(url)
    
    try:
        for i in driver.find_elements(By.XPATH,'/html/body/div[1]/div[4]/div/main/div/div[1]/div[1]/div/span[1]/a'):
            title.append(i.text)
    except NoSuchElementException: 
        title.append('No details available')
    try:
        for i in driver.find_elements(By.XPATH,'/html/body/div[1]/div[4]/div/main/turbo-frame/div/div/div/div[2]/div[2]/div/div[1]/div/p'):
            description .append(i.text)
    except NoSuchElementException: 
        description.append('No details available')

        xpath_patterns = [
        '//div[@class="Layout-sidebar"]/div/div[5]/div/h2/a/span',
        '//div[@class="Layout-sidebar"]/div/div[6]/div/h2/a/span',
        '//div[@class="Layout-sidebar"]/div/div[4]/div/h2/a/span',
        '//div[@class="Layout-sidebar"]/div/div[3]/div/h2/a/span'
    ]

    found = False  

    for xpath_pattern in xpath_patterns:
        try:
            elements = driver.find_elements(By.XPATH, xpath_pattern)
            if elements:
                found = True
                contributors.append(elements[0].text)  
                break  
        except NoSuchElementException as e:
            contributors.append('-')
            pass

    if not found:
        contributors.append('-')

In [180]:
trending_GitHub = pd.DataFrame({'Repository title':title,'Repository description':description,
                                'Language used':language,'Contributors Count':contributors})
trending_GitHub

,Repository title,Repository description,Language used,Contributors Count
0,godotengine,Godot Engine – Multi-platform 2D and 3D game e...,C++,"2,206"
1,coqui-ai,🐸💬 - a deep learning toolkit for Text-to-Speec...,Python,128
2,isocpp,The C++ Core Guidelines are a set of tried-and...,Python,326
3,MonoGame,One framework for creating powerful cross-plat...,C#,349
4,aiwaves-cn,An Open-source Framework for Autonomous Langua...,Python,14
5,zhile-io,"潘多拉，一个让你呼吸顺畅的ChatGPT。Pandora, a ChatGPT client...",Python,7
6,badlogic,Jo eh.,JavaScript,14
7,lodash,A modern JavaScript utility library delivering...,JavaScript,286
8,Klipper3d,Klipper is a 3d-printer firmware,C,383
9,stride3d,Stride Game Engine (formerly Xenko),C#,98
10,nuejs,Build user interfaces with 10x less code. Alte...,JavaScript,10
11,langchain-ai,LangChain + Next.js starter template,TypeScript,
12,commaai,openpilot is an open source driver assistance ...,Python,500
13,facebookresearch,Implementation of Nougat Neural Optical Unders...,Python,11
14,KenneyNL,Godot,GDScript,4
15,godotengine,Godot Engine official documentation,reStructuredText,"1,170"
16,AUTOMATIC1111,Stable Diffusion web UI,Python,487
17,yoheinakajima,Converts text input or URL into knowledge grap...,Python,14
18,godotengine,Demonstration and Template Projects,GDScript,148
19,guidance-ai,A guidance language for controlling large lang...,Jupyter Notebook,37
20,FlaxEngine,Flax Engine – multi-platform 3D game engine,C++,51
21,ripienaar,"A list of SaaS, PaaS and IaaS offerings that h...",HTML,"1,473"
22,fishaudio,vits2 backbone with bert,Python,10
23,TheAlgorithms,All Algorithms implemented in Python,Python,"1,000"
24,89luca89,Use any linux distribution inside your termina...,Shell,106

### 5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
#### You have to find the following details:
##### A) Song name  B) Artist name  C) Last week rank  D) Peak rank  E) Weeks on board
##### Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [61]:
driver = webdriver.Chrome()

In [65]:
driver.get('http://www.billboard.com/')
driver.maximize_window()

In [66]:
 search_1 =driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
search_1.click()

In [67]:
 search_2 =driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a')
search_2.click()

In [68]:
song_name=[]

try:
    for i in driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet"]'): 
        song_name.append(i.text)
    for i in driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]'):
        song_name.append(i.text)
except NoSuchElementException: 
    song_name.append('No details available')

In [69]:
artist=[]

try:
    for i in driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet"]'): 
        artist.append(i.text)
    for i in driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]'):
        artist.append(i.text)
except NoSuchElementException: 
    artist.append('No details available')

In [70]:
all_combo1= []
all_combo2=[]

try:
    for i in driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet"]'): 
        all_combo1.append(i.text)
except NoSuchElementException: 
    all_combo1.append('No details available')
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]'):
        all_combo2.append(i.text)
except NoSuchElementException: 
    all_combo2.append('No details available')

In [71]:
all_combo1.extend(all_combo2)

In [72]:
LWrank=all_combo1[0::6]
P_rank=all_combo1[1::6]
WO_board=all_combo1[2::6]

In [73]:
top100songs = pd.DataFrame({'Song name':song_name,'Artist name':artist,'Last week rank':LWrank,'Peak rank':P_rank,'Weeks on board':WO_board})
top100songs

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Paint The Town Red,Doja Cat,3,1,5
1,I Remember Everything,Zach Bryan Featuring Kacey Musgraves,1,1,2
2,Fast Car,Luke Combs,2,2,24
3,Cruel Summer,Taylor Swift,5,3,18
4,Last Night,Morgan Wallen,4,1,32
...,...,...,...,...,...
95,Stand By Me,Lil Durk Featuring Morgan Wallen,93,22,15
96,Call Your Friends,Rod Wave,85,26,3
97,Your Heart Or Mine,Jon Pardi,72,47,17
98,Primera Cita,Carin Leon,97,97,2
99,S91,Karol G,86,45,6

In [74]:
driver.quit()

### 6. Scrape the details of Highest selling novels.

#### https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare
##### compare
##### A) Book name  B) Author name  C) Volumes sold  D) Publisher

In [75]:
driver = webdriver.Chrome()

In [76]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')
driver.maximize_window()

In [77]:
name=[]
author=[]
volume=[]
publisher=[]

try:
    for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]'): 
        name.append(i.text)
except NoSuchElementException: 
    name.append('No details available')
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]'):
        author.append(i.text)
except NoSuchElementException: 
    author.append('No details available')
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]'):
        volume.append(i.text)
except NoSuchElementException: 
    volume.append('No details available')
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]'): 
        publisher.append(i.text)
except NoSuchElementException: 
    publisher.append('No details available')

In [78]:
Highest_Selling= pd.DataFrame({'Book name':name,'Author name':author,'Volumes sold':volume,'Publisher':publisher})
Highest_Selling

,Book name,Author name,Volumes sold,Publisher
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House
...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin

In [81]:
driver.quit()

### 7. Scrape the details most watched tv series of all time from imdb.com.
#### Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:
##### A) Name  B) Year span C) Genre D) Run time E) Ratings F) Votes

In [82]:
driver = webdriver.Chrome()

In [83]:
driver.get('https://www.imdb.com/list/ls095964455/')
driver.maximize_window()

In [84]:
name=[]
year_span=[]
genre=[]
run_time=[]
ratings=[]
votes=[]


try:
    for i in driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a'): 
        name.append(i.text)
except NoSuchElementException: 
        name.append('No details available')

try:
    for i in driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/span[2]'): 
        year_span.append(i.text)
except NoSuchElementException: 
        year_span.append('No details available')
        
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="genre"]'): 
        genre.append(i.text)
except NoSuchElementException: 
        genere.append('No details available')

try:
    for i in driver.find_elements(By.XPATH,'//span[@class="runtime"]'): 
        run_time.append(i.text)
except NoSuchElementException: 
    run_time.append('No details available')

try:
    for i in driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]/span[2]'): 
        ratings.append(i.text)
except NoSuchElementException: 
        ratings.append('No details available')

try:
    for i in driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"][3]/span[2]'): 
        votes.append(i.text)
except NoSuchElementException: 
        votes.append('No details available')

In [85]:
tv_series=pd.DataFrame({'Name':name,'Year span':year_span,'Genre':genre,'Run time':run_time,'Ratings':ratings ,'Votes':votes})
tv_series

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,204,607"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,276,075"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,046,047"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"307,418"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"266,505"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,"52,735"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"64,795"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"211,072"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"43,908"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"266,085"

In [86]:
driver.quit()

### 8. Details of Datasets from UCI machine learning repositories.
#### Url = https://archive.ics.uci.edu/
##### You have to find the following details:
##### A) Dataset name B) Data type C) Task D) Attribute type E) No of instances F) No of attribute G) Year
##### Note: - from the home page you have to go to the Show All Dataset page through code.

In [181]:
driver = webdriver.Chrome()

In [182]:
driver.get('https://archive.ics.uci.edu')
driver.maximize_window()

In [183]:
driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]').click()

In [185]:
 search_1 =driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/label/select/option[5]')
search_1.click()

In [189]:
name = []
dtype = []
task = []
attribute = []
no_instances = []
no_attribute = []
year = []

num_next_buttons = 26

for _ in range(num_next_buttons):
    driver.find_element(By.XPATH, '/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]').click()

    try:
        for i in driver.find_elements(By.XPATH, '//a[@class="link-hover link text-xl font-semibold"]'):
            name.append(i.text)
    except NoSuchElementException: 
        name.append('No details available')

    try:
        for i in driver.find_elements(By.XPATH, '//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]/span'):
            dtype.append(i.text)
    except NoSuchElementException: 
        dtype.append('No details available')

    try:
        for i in driver.find_elements(By.XPATH, '//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[1]/span'):
            task.append(i.text)
    except NoSuchElementException: 
        task.append('No details available')

    try:
        for i in driver.find_elements(By.XPATH, '//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[4]/span'):
            no_attribute.append(i.text)
    except NoSuchElementException: 
        no_attribute.append('No details available')
    
    try:
        for i in driver.find_elements(By.XPATH, '//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[3]/span'):
            no_instances.append(i.text)
    except NoSuchElementException: 
        no_instances.append('No details available')


    try:
        for i in driver.find_elements(By.XPATH, '//table[@class="col-span-full my-2 table sm:col-start-2"]/tbody/tr/td[2]'):
            attribute.append(i.text)
    except NoSuchElementException:
        attribute.append('No details available')
    
    time.sleep(2)

    try:
        for i in driver.find_elements(By.XPATH, '//table[@class="col-span-full my-2 table sm:col-start-2"]/tbody/tr/td[3]'):
            year.append(i.text)
    except NoSuchElementException: 
        year.append('No details available')

    driver.find_element(By.XPATH, '/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]').click()
    
    if _ == 25:  
        break

    try:
        next_button = driver.find_element(By.XPATH, '/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]')
        if 'disabled' in next_button.get_attribute('class'):
            break
        time.sleep(2)
        next_button.click()
        time.sleep(5)
        
        
    except NoSuchElementException as e:
        break

In [191]:
dataset_UCI=pd.DataFrame({'Dataset name':name,'Data type':dtype,'Task':task,'Attribute type':attribute,'No of instances':no_instances,
                           ' No of attribute':no_attribute,'Year':year})
dataset_UCI

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Iris,Tabular,Classification,Real,150 Instances,4 Features,7/1/1988
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303 Instances,13 Features,7/1/1988
2,Adult,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Features,5/1/1996
3,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13.61K Instances,16 Features,9/14/2020
4,Diabetes,,,"Categorical, Integer",,20 Features,N/A
...,...,...,...,...,...,...,...
645,Gender Gap in Spanish WP,Multivariate,Classification,"Real, Integer",4.75K Instances,21 Features,8/14/2023
646,Average Localization Error (ALE) in sensor nod...,Multivariate,Regression,Real,107 Instances,6 Features,8/14/2023
647,TamilSentiMix,"Multivariate, Text",Classification,Categorical,15.74K Instances,,8/14/2023
648,Visegrad Group companies data,Multivariate,"Classification, Clustering",Real,85 Instances,450 Features,7/17/2023
649,SUPPORT2,"Tabular, Multivariate","Classification, Regression, Other","Real, Categorical, Integer",9.11K Instances,40 Features,9/15/2023

In [192]:
driver.quit()